#lobby-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 0.25rem;
}

.language-flag {
    font-size: 2rem;
    text-shadow:
        -2px -2px 0 #AAA,
        2px -2px 0 #AAA,
        -2px 2px 0 #AAA,
        2px 2px 0 #AAA;
}

.lobby-list-item>* {
    user-select: none;
}

.lobby-list-item {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.lobby-list-rows {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 0.25rem;
    flex: 1;
}

.lobby-list-item-info-pair {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.lobby-list-item-icon {
    width: 2rem;
    height: 2rem;
    align-self: center;
}

.lobby-list-item:hover {
    background-color: var(--component-hover-background);
}

.lobby-list-item.selected {
    background-color: var(--component-focus-background);
}

.lobby-list-placeholder {
    display: flex;
    width: 100%;
    flex: 1;
}

.lobby-list-placeholder>* {
    margin: auto;
    max-width: 80%;
}