.multi-select {
    background-color: var(--component-base-color);
    display: flex;
    border-radius: var(--component-border-radius);
    color: var(--component-foreground);
    gap: 0.25rem;
    padding: 0.25rem;
}

.multi-select-popup {
    background-color: var(--component-base-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 0.5rem;
    gap: 0.25rem;
    color: var(--component-foreground);
}