#lobby-create {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1rem;
    row-gap: 0.5rem;
    overflow-y: scroll;
    padding-right: 0.5rem;
}

.create-button {
    height: 2rem;
    flex: 1;
    background-color: color-mix(in srgb, var(--component-base-color), #000 25%)
}

textarea.input-item {
    height: 5rem;
}

@media (max-width: 850px) and (orientation: portrait) {
    textarea.input-item {
        height: 3rem;
    }
}