:root {
	--component-base-color: #4485ff;
	--component-hover-background: #5499f3;
	--component-focus-background: #3a8ffd;
	--outline--color: #1f6bf8;
	--component-border-radius: 0.5rem;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;

	background: rgb(46, 46, 175);
	background: linear-gradient(90deg, rgba(46, 46, 175, 1) 0%, rgba(37, 79, 191, 1) 42%, rgba(0, 170, 255, 1) 100%);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	border: none;
	outline: none;
	margin: 0;
}


select,
input,
button,
textarea {
	color: rgb(238, 230, 230);
	background-color: var(--component-base-color);
	border-radius: var(--component-border-radius);
	border: 2px hidden var(--outline--color);
}

input:hover,
button:hover,
select:hover,
textarea:hover {
	background-color: var(--component-hover-background);
}

input:focus,
button:focus,
select:focus,
textarea:focus {
	background-color: var(--component-focus-background);
}

input,
select {
	padding-left: 0.35rem;
	padding-right: 0.35rem;
}

textarea {
	padding-left: 0.40rem;
	padding-top: 0.20rem;
	min-width: 0;
	resize: none;
}

body::before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	opacity: 0.50;
	background: url("./assets/background.png") repeat;
	background-size: 400px 400px;
	background-repeat: repeat;
	z-index: -1;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-height: 100vh;
}

@media (max-width: 850px) and (orientation: portrait) {
	main {
		margin: 1.5vh;
	}
}